@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    max-height: 3.0rem;
    margin: auto;
    padding: 3.0rem;
    background-color: #031d29;
}

a#aimg{
    padding-right: 1rem;
}

section#header > a> img{
    margin-left: -15%;
    height: 3.8rem;
}

div#cab{
    padding-right: 15rem;
}

div#cab a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
}

div#cab >a.home{
    padding-right: 2rem;
    color: #a97a34;
}

div#cab >a.home2{
    padding-right: 2rem;
}

section.main{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: right;
    max-width: 100%;
    height: 70%;
    padding-bottom: 25%;
    background-image: url(images/front-view-young-male-sitting-with-broken-foot-holding-x-ray-it-grey-floor-twist-pain-leg-broken-male-accident-foot-scaled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    -webkit-text-size-adjust: 100%;
    background-attachment: fixed;
}

div#divmain{
    flex-direction:row;
    margin-left: 10%;
    margin-top: 15%;
}

div#divmain >h1{
    font-size: 3rem;
    font-family: "Montserrat", Sans-serif;
    color: rgb(233, 230, 227);
    margin-bottom: 1rem;
}

div#divmain >h3{
    color: white;
    font-family: "Montserrat", Sans-serif;
    font-size: 19px;
    margin-bottom: 1rem;;
}

div#divquer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27%;
    max-height: 12rem;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

div#divquer:hover{
    background-color: #a97a34;
    transition: 1s;
}

div#divquer >a{
    font-family: "Montserrat", Sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-decoration: inherit;
    color: #001426;;
}

section#boxesmain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
    width: 1440px;
    max-width: 100%;
    height: 20.6rem;
    background-color: #000b13;
}

div.divboxes1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 15rem;
    height: 16remx;
    margin-top: 2rem;
    margin-bottom: 2.6rem;
    background-color: white;
    border-radius: 0.7rem;
    font-size: 20px;
}

svg{
    display: flex;
    flex-wrap: column;
    flex-direction: center;
    justify-content: center;
    width: 50px;
    margin-bottom: 2rem;;
}

div.divboxes2{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 15rem;
    height: 16rem;
    margin-top: 2rem;
    margin-bottom: 2.6  rem;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

svg.svg2{
    display: block;
    flex-direction: column;
    max-width: 100px;
    margin-bottom: rem;;
}

div.divboxes3 >p{
    margin-left: 10px;
}

div.divboxes3{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 15rem;
    height: 16rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

div.divboxes3 >p{
    margin-left: 20px;
}

div.divboxes4{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 15rem;
    height: 16rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

div.divboxes4 >p{
    margin-left: 20px;
}

section#description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1440px;
    max-width: 100%;
    max-height: 100%;
}

div#divimagesdes{
    max-width: 100%;
    display: flex;
    margin-top: -50%;
    margin-left: 11rem;
    margin-right: 1.3rem;
}

div#divimagesdes >figure >img{
    image-rendering: optimizeQuality;
    object-fit: cover;
    width: 50rem;
    max-width: 100%;
    height: 350%;
    border: 3px solid #031d29;
}

div#divdescription{
    margin-top: 7rem;
}

div#divdescription >h2{
    color: #22374b;
    font-family: "Montserrat", Sans-serif;
    font-size: 27px;
    font-weight: 600;
}

p.ptitulo{
    margin-top: 0.6rem;
    margin-bottom: 1.3rem;
    color: #001426;
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 600;
}

hr{
    display: flex;
    width: 80%;
    margin-bottom: 1.2rem;
    background: #22374b;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
}

h3.h3des{
    color: #22374b;
    font-family: "Montserrat", Sans-serif;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 0.4rem
}

p.pdes{
    margin-bottom: 0.4rem;
    color: #22374b;
    font-family: "Montserrat", Sans-serif;
    font-size: 17px;
    font-weight: 400;
}

div#divdes2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22374b;
    width: 50%;
    height: 3rem;
    border-radius: 10px;
}

div#divdes2> a{
    text-decoration: none;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
}

div#divdes2:hover{
    background-color: #a97a34;
    transition: 1s;
}

div#divdes2:hover >a{
    color: #001426;
}

section#secfooter{
    max-width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    background-color: #031d29;
}

img.imgfooter{
    width: 150px;
}

div#divimgfot{
    display: flex;
}
